<div class="password">
    <div class="change_password">
        <h2> Change Password
        </h2>
        <!-- <p class="alert alert-success" *ngIf="success_message">{{success_message}}</p> -->
        <!-- <p class="alert alert-danger" *ngIf="error_message">{{error_message}}</p> -->
        <form class="password_inner" [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && changePassword()">
            
            <div>
                <div class="floating-label">
                    <input class="floating-input" placeholder=" " type="password" formControlName="current_password">
                    <span class="highlight"></span>
                    <label>Current Password</label>
                    <small class="text-danger" *ngIf="changePasswordFormButton && !changePasswordForm.controls.current_password.value">Please enter Current Password.</small>
                    <!-- <small class="text-danger" *ngIf="changePasswordForm.controls.current_password.invalid && (changePasswordForm.controls.current_password.dirty || changePasswordForm.controls.current_password.touched)">Required</small> -->
                </div>
                <div class="floating-label">
                    <input class="floating-input" placeholder=" " type="password" formControlName="new_password">
                    <span class="highlight"></span>
                    <label>New Password</label>
                    <small class="text-danger" *ngIf="changePasswordFormButton && !changePasswordForm.controls.new_password.value">Please enter new password.</small>
                    <small class="text-danger" *ngIf="changePasswordForm.controls.new_password.invalid && (changePasswordForm.controls.new_password.dirty || changePasswordForm.controls.new_password.touched) && changePasswordForm.controls.new_password.value">Password must be 8-16 characters long and must contain alphanumerics and special characters( @ # $ %
                        ^ & * ).'</small>

                </div>
                <div class="floating-label">
                    <input class="floating-input" placeholder=" " type="password" formControlName="confirm_password">
                    <span class="highlight"></span>
                    <label>Confirm Password</label>
                    <small class="text-danger" *ngIf="changePasswordFormButton && !changePasswordForm.controls.confirm_password.value">Please enter confirm password.</small>
                    <small class="text-danger" *ngIf="changePasswordForm.controls.confirm_password.invalid && (changePasswordForm.controls.confirm_password.dirty || changePasswordForm.controls.confirm_password.touched) && changePasswordForm.controls.confirm_password.value ">Passwords do not match</small>
                </div>
                <button type="submit" class="button_main" (click)="changePasswordFormButton= true"> Done </button>

                <app-modal [openButtonId]="'modalComponentChangePassOpen'" [closeButtonId]="'modalComponentChangePassClose'" #modalComponentChangePass></app-modal>
            </div>

        </form>
    </div>
</div>