#banner {
  &.how_works {
    background: url('#{$url}/works.jpg') no-repeat;
    background-size: cover;
    padding: 108px 0px 55px;
    max-height: 697px;
    display: inline-block;
    height: 640px;
    text-align: center;

    @include media('<=767px') {
      padding: 21px 0px 55px;
      height: auto;
    }

    .banner_text {
      text-align: center;
      display: inline-block;
      width: 100%;

      .button_main {
        &.theme {
          border: 2px solid $darkblue;
        }

        @include media('<=767px') {
          width: 107px;
          height: 35px;
          line-height: 35px;
          font-size: 14px;
        }

        &.yellow {
          background: none;
          border: 2px solid $yellow;
          color: $yellow !important;

          &:hover {
            background: $yellow;
            color: $white !important;
          }
        }
      }
    }

    .banner_img {
      @include margin(40 0 0 0);

      @include media('<=767px') {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

.how_work {
  background-color: #fff;
  width: 100%;
  display: inline-block;
  padding: 188px 0 0 0;

  @include media('<=767px') {
    padding: 0;
  }

  .works_inner {
    width: 100%;
    display: inline-block;
    padding: 80px 0;

    @include media('<=767px') {
      margin: 0;
      text-align: center;
    }

    .work_left {
      h2 {
        @include font-size(28);
        font-family: 'JosefinSans-SemiBold';
        color: $darkblue;
        text-transform: uppercase;

        @include media('<=1024px') {
          @include font-size(22);
        }

        @include media('<=767px') {
          @include font-size(16);
        }
      }

      p {
        @include font-size(16);
        font-family: 'JosefinSans-SemiBold';
        margin: 16px 0 0 0;

        @include media('<=1024px') {
          @include font-size(15);
          margin: 0;
        }

        @include media('<=767px') {
          margin: 0;
          @include font-size(13);
        }
      }
    }

    .work_right {
      text-align: center;
      position: relative;

      &.img {
        .animation_outer {
          left: 8px;
          right: auto;

          @include media('<=1366px') {
            left: 11px;
          }

          @include media('<=1299px') {
            right: -14px;
          }

          @include media('<=1024px') {
            left: -15px;
          }
        }
      }

      img {
        @include media('<=767px') {
          margin: 0 0 17px 0;
        }
      }
    }

    &.bg {
      background: #f7f7f7;
    }
  }

  .animation_outer {
    position: absolute;
    @include square(65px);
    @include border-radius(50%);
    top: 78px;
    right: 8px;

    @include media('<=1299px') {
      right: -18px;
    }

    @include media('<=1024px') {
      right: -18px;
    }

    @include media('<=767px') {
      display: none;
    }

    .circle {
      position: relative;

      &:before {
        content: '';
        height: 20px;
        width: 20px;
        background-color: $darkgreen-color;
        @include border-radius(50%);
        position: absolute;
        top: -10px;
        left: 22px;
        z-index: 1;

        @include media('<=1366px') {
          left: 21px;
        }
      }

      &:hover {
        &:after {
          @include square(40px);
        }
      }

      &::after {
        content: '';
        @include square(0px);
        @include border-radius(50%);
        background-color: #d0ebdc;
        position: absolute;
        animation: blink 4s linear infinite;
      }
    }

    @keyframes blink {
      0% {
        opacity: 0;
        @include square(0px);
        left: calc(50% - 0px);
        top: calc(50% - 0px);
      }

      50% {
        @include square(20px);
        left: calc(50% - 10px);
        top: calc(50% - 10px);
      }

      75% {
        @include square(40px);
        left: calc(50% - 20px);
        top: calc(50% - 20px);
      }

      100% {
        opacity: 1;
        @include square(60px);
        left: calc(50% - 30px);
        top: calc(50% - 30px);
      }
    }
  }
}
