<div class="password account">
<div class="account_detail">
  <h2> Change Password
    <span> ( Add Account Holders Information ) </span>
  </h2>
  <div class="login_outer">
    <div class="login_inner">
      <div class="login_form complete_info brand_name">
        <div class="info_form">
          <form>
            <div class="success_icon">
              <div class="floating-label">
                <input class="floating-input" value="Gurdeep Koundal" placeholder=" " type="text">
                <span class="highlight"></span>
                <label>cardholder name</label>
              </div>
            </div>
            <div class="credit_card">
              <div class="floating-label card_number float-left">
                <input class="floating-input" placeholder=" " type="text">
                <span class="highlight"></span>
                <label>Credit/debit Card Number</label>
              </div>
              <div class="floating-label cvv float-right">
                <input class="floating-input" placeholder=" " type="text">
                <span class="highlight"></span>
                <label>CVV</label>
              </div>
            </div>
            <div class="expiration_date">
              <div class="expiration_month float-left">
                <label>expiration date</label>
                <div class="floating-label">
                  <select class="selectpicker floating-input month float-left" tabindex="-98">
                    <option selected="">Month</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                  </select>
                  <select class="selectpicker floating-input year float-right" tabindex="-98">
                    <option selected="">Year</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                  </select>
                </div>
              </div>
              <div class="card_img float-right">
                <img src="assets/images/card_img.jpg" alt="">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="" class="button_main"> Save </button>

</div>