<div class="footer-bottom after_login">
  <div class="container">
    <div class="row">
      <div class="col-md-12  footer_right">
        <ul>
          <li>
            <a routerLink="/dashboard/raveline">Home </a>
          </li>
          <li>
            <a routerLink="/how-it-works"> How it works </a>
          </li>
          <li>
            <a routerLink="/contact-us">contact us </a>
          </li>
          <li>
            <a routerLink="/aboutUs">about us </a>
          </li>
          <li>
            <a routerLink="/faq">faq </a>
          </li>
          <li>
            <a routerLink="/terms"> Terms & conditions</a>
          </li>
          <li>
            <a routerLink="/privacy"> Privacy policy </a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 home_social">
        <a href="https://twitter.com/RaverFans" target="_blank">
          <span class="icon-twitter-circular-button"></span>
        </a>
        <a href="https://www.facebook.com/RaverFansBrand/" target="_blank">
          <span class="icon-facebook-logo-in-circular-button-outlined-social-symbol"></span>
        </a>
        <a href="https://www.instagram.com/raverfans/" target="_blank">
          <span class="icon-instagram"></span>
        </a>
        <!-- https://www.linkedin.com/company/13979440/admin/ -->
        <a href="https://www.linkedin.com/company/raver-fans/" target="_blank">
          <span class="icon-social-linkedin-circular-button"></span>
        </a>
      </div>
      <div class="col-md-12 footer_left">
        <p> © 2018-2019
          <span> Raver Fans </span> App.All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
