<div class="vertical-align-wrap">
  <div class="vertical-align-middle">
    <div class="auth-box ">

      <div class="content">
        <div class="header">
          <div class="logo text-center">
            <img src="assets/img/logo.png" alt="Logo" />
          </div>
          <p class="lead">Forgot Password</p>
        </div>
        <form class="form-auth-small" (ngSubmit)="forgotForm.valid ? onForgot() : ''" #forgotForm="ngForm" novalidate>
          <div class="form-group">
            <label for="signin-email" class="control-label sr-only">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email" #email="ngModel" [pattern]="emailPattern"
              required email placeholder="Email">

            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
              <div *ngIf="email.errors.required">Email is required</div>
            </div>
            <div *ngIf="email.errors?.pattern" class="text-danger">
              Email must be a valid email address
            </div>

          </div>

          <button type="submit" [disabled]="forgotForm.invalid" class="btn btn-primary btn-lg btn-block">Submit</button>
          <div class="bottom">
            <span class="helper-text">
              <span class="pointer" (click)="onLogin()">Login</span>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
