<div id="banner" class="fan">
  <div class="banner_text">
    <div class="container">
      <div class="row align-items-lg-center">
        <div class="col-sm-12 col-md-7">
          <h1> RAVER FANS </h1>
          <p>Are you regular customer of a
            <span> Brand? </span>
          </p>
          <p> A Fan of a
            <span>Brand</span>’s product or service? </p>
          <div class="banner_btn">
            <a>
              <img src="assets/images/app_store.png" /> </a>
            <a>
              <img src="assets/images/play_store.png" /> </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 banner_img">
          <span>
            <img src="assets/images/fan_img.png" class="img-fluid" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fans_brands _fans">
  <div class="container">
    <div class="brands_inner">
      <div class="row align-itmes-center">
        <div class="col-lg-8 col-md-8 order-md-12 order-2">
          <div class="fans_text">
            <h2> “Get Reward for promoting your favourite brand” </h2>
            <p> Bring out your creative side. Share with the world, your
              <span> brand </span> related expreience through -reviews, recommendations, blogs, videos and pictures.
            </p>
            <p>Get to know and have fun networking with other
              <span> fans </span>
            </p>
            <p> Get your queries and issues with the brand resolved quickly without searching for customer service number.
            </p>
            <p>Be the first to know about new product from the brand.</p>
            <p>Gain respect and recognition. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 fans_img order-md-12 order-1">
          <span>
            <img src="assets/images/reward_img.png" alt="" class="img-fluid" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="contact_us fan" id="contactUs">
  <div class="container">
    <div class="contact_inner">
      <div class="footer-bottom landing">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 order-md-12 order-3 footer_left">
              <p> © 2018-2019
                <span> Raver Fans </span> App.All Rights Reserved</p>
            </div>
            <div class="col-lg-4 col-md-4 order-md-12 order-1 home_social">
              <a href="javascript:void(0);">
                <span class="icon-twitter-circular-button"> </span>
              </a>
              <a href="javascript:void(0);">
                <span class="icon-facebook-logo-in-circular-button-outlined-social-symbol"> </span>
              </a>
              <a href="javascript:void(0);">
                <span class="icon-instagram"> </span>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 order-md-12 order-2  footer_right">
              <a href="javascript:void(0);" routerLink="/terms"> Terms & conditions </a>
              <a href="javascript:void(0);" routerLink="/privacy"> Privacy policy </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-modal [openButtonId]="'modalComponentRequestSupportOpen'" [closeButtonId]="'modalComponentRequestSupportClose'" #modalComponentRequestSupport></app-modal>
